<form {{action 'authenticate' on='submit'}}>
  {{input id='identification' placeholder='login' value=identification}}
  <br>
  {{input id='password' placeholder='password' type='password' value=password}}
  <br>
  <button type="submit">Login</button>
</form>